*
!.gitignore
!klantenpaneel
klantenpaneel/*
!klantenpaneel/betalen
klantenpaneel/betalen/*
!klantenpaneel/betalen/cardgate
klantenpaneel/betalen/cardgate/*
!klantenpaneel/betalen/cardgate/notify.php
klantenpaneel/betalen/cardgate/payment_provider.php
!klantenpaneel/betalen/images
klantenpaneel/betalen/images/*
!klantenpaneel/betalen/images/cardgate.jpg
!tests/
!tests/bootstrap.php
!tests/phpunit.xml
!README.md
!README_DE.md
!README_NL.md
!composer.json
!.travis.yml
!phpunit.xml.dist